doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Natours | #{title}
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

  body
    // HEADER starts
    include _header
    // HEADER ends

    // CONTENT STARTS
    block content
      h1 Nothing here...

    // FOOTER STARTS
    include _footer
    // FOOTER ENDS

    script(src='/js/bundle.js')